{% extends 'base.html' %}

{% block title %}Meeting Details{% endblock %} 
{% block content %}
    <body>
        <h1><b>Meeting: {{meeting.title}}</b></h1>
        <p>
            <b>Date:</b> {{meeting.date}}
        </p>
        <p>
            <b>Time:</b> {{meeting.start_time}}
        </p>
        <p>
            <b>Duration:</b> {{meeting.duration}} hours
        </p>
        <p>
            <b>Location:</b> {{meeting.room}}
        </p>

        <p>
            <a href="{% url 'welcome' %}">
               <- Return home
            </a>
        </p>
{% endblock %}