{% extends "base.html" %}

{% block title %}Home{% endblock %}

{%  block content %}
        <h1>Welcome to the Meeting Planner App!</h1>
        <button>
            <a href="{% url 'new_meeting' %}">
                Add Meeting 
            </a>
        </button>
        <p>
            Number of Meetings: {{num_meetings}}
        </p>
        <p>
            Number of Rooms: <a href="{% url 'all_rooms' %}">
                                   {{num_rooms}}
                             </a>
                                
        </p>
        <p>
            Meetings: 
            <ul>
                {% for m in meetings %}
                    <li>
                        <a href="{% url 'meeting_details' m.id  %}">
                            {{m.title}}
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </p>
{% endblock %}